<template>

  <div class="q-pa-md">

    <div class="row flex flex-center">
      <q-btn color="primary" icon="ion-refresh-circle" @click="listFiles" />
    </div>

    <p class="row flex flex-center">
      Files :
    </p>

    <div class="row flex flex-center" v-show="files.length > 0">
      <q-markup-table>
        <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-right">Type</th>
          <th class="text-right">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="file in files">
          <td class="text-left">{{ file.name }}</td>
          <td class="text-right">
            <q-icon name="folder" v-show="file.isDirectory"/>
            <q-icon name="insert_drive_file" v-show="file.isFile"/>
          </td>
          <td class="text-left">
            <q-icon clickable name="close" @click="deleteFile(file)"/>
          </td>
        </tr>
        </tbody>
      </q-markup-table>
    </div>

    <div class="row flex flex-center">

      <q-input outlined v-model="fileTitle" label="title" />

      <q-btn color="primary" icon="add" @click="addFile(fileTitle)" />
    </div>

  </div>

</template>

<script>

  export default {
    name: 'PageFiles',

    data () {
      return {
        files: [],
        fileTitle: 'test_file_title.txt'
      }
    },

    methods: {

      async listDir(path){
        let that = this
        window.resolveLocalFileSystemURL(path,
          function (fileSystem) {
            let reader = fileSystem.createReader();
            reader.readEntries(
              function (entries) {
                that.files = entries
                return entries
              },
              function (err) {
                console.log(err);
              }
            );
          }, function (err) {
            console.log(err);
          }
        );
      },

      async addFile(title) {
        const that = this
        window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, function (fs) {
          fs.root.getFile(title, { create: true, exclusive: false }, function (fileEntry) {
            that.$q.notify(title + ' created')
          }, function(errorCreateFile) { console.log(errorCreateFile) });
        }, function(errorLoadFs) { console.log(errorLoadFs) });
      },

      async deleteFile(file) {
        const that = this
        window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, function (fs) {
          fs.root.getFile(file.name, { create: true, exclusive: false }, function (fileEntry) {
            fileEntry.remove(function (removedFile) {
              that.$q.notify(file.name + ' removed')
            })
          }, function(errorCreateFile) { console.log(errorCreateFile) });
        }, function(errorLoadFs) { console.log(errorLoadFs) });
      },

      async listFiles() {
        try {
          this.$q.notify('Listing...')
          await this.listDir('file:///data/user/0/wellcome.legrand.com/files/files/');
        } catch(error) {
          console.log(error)
        }
      }
    }
  }
</script>
