<template>

  <div class="q-pa-md">
    <p>Ftp part :</p>
    <div class="row flex flex-center">
      <q-input outlined v-model="server" label="address"/>
      <q-input outlined v-model="user" label="user"/>
      <q-input outlined v-model="password" label="password"/>
    </div>

    <!-- Connect button -->
    <div class="row flex flex-center">
      <q-btn color="primary" icon="ion-log-in" @click="connect"/>
    </div>

    <!-- Loader to display only during the scan process -->
    <div class="row flex flex-center" v-show="isLoading">
      <q-circular-progress
        indeterminate
        size="50px"
      />
    </div>

    <p>Ftp files :</p>
    <div class="row flex flex-center">
      <q-markup-table class="row flex flex-center">
        <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-right">Type</th>
          <th class="text-right">Download</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="file in ftpFiles">
          <td class="text-left">{{ file.name }}</td>
          <td class="text-right">
            <q-icon name="folder" v-show="file.type === 1"/>
            <q-icon name="insert_drive_file" v-show="file.type === 0"/>
          </td>
          <td class="text-left">
            <q-icon clickable name="ion-arrow-round-down" @click="download(file)"/>
          </td>
        </tr>
        </tbody>
      </q-markup-table>
    </div>

    <p>Local files :</p>
    <div class="row flex flex-center">
      <q-markup-table class="row flex flex-center">
        <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-right">Type</th>
          <th class="text-right">Upload</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="file in files">
          <td class="text-left">{{ file.name }}</td>
          <td class="text-right">
            <q-icon name="folder" v-show="file.isDirectory"/>
            <q-icon name="insert_drive_file" v-show="file.isFile"/>
          </td>
          <td class="text-left">
            <q-icon clickable name="ion-arrow-round-up" @click="upload(file)"/>
          </td>
        </tr>
        </tbody>
      </q-markup-table>
    </div>
  </div>

</template>

<script>
export default {
  name: 'FtpPage',

  data () {
    return {
      server: '192.168.20.118',
      user: 'root',
      password: 'root',
      files: [],
      ftpFiles: [],
      isLoading: false
    }
  },

  methods: {
    async upload(file) {
      try {
        await this.uploadPromisified(file);
        this.$q.notify('Uploaded');
        this.ftpFiles = await this.listFtpFiles()
      } catch(error) {
        this.$q.notify(error)
      }
    },
    async uploadPromisified(file) {
      return new Promise((resolve, reject) => {
        window.cordova.plugin.ftp.upload(file.nativeURL, '/' + file.name, percentage => {
          percentage === 1 ? resolve(percentage) : null
        }, error => {
          reject(error);
          console.log(error)
        })
      })
    },
    async download(file) {
      try {
        await this.downloadPromisified(file);
        this.$q.notify('Downloaded');
        await this.listDir('file:///data/user/0/wellcome.legrand.com/files/files/')
      } catch(error) {
        console.log(error);
        this.$q.notify(error)
      }
    },
    async downloadPromisified(file) {
      return new Promise((resolve, reject) => {
        window.cordova.plugin.ftp.download('file:///data/user/0/wellcome.legrand.com/files/files/' + file.name, '/' + file.name, percentage => {
          percentage === 1 ? resolve(percentage) : null
        }, error => {
          console.log(error);
          reject(error)
        })
      })
    },
    async connect() {
      try {
        this.isLoading = true;
        await this.initConnection();
        this.ftpFiles = await this.listFtpFiles();
      } catch(error) {
        this.$q.notify(error);
      }
      this.isLoading = false
    },
    async initConnection() {
      return new Promise((resolve, reject) => {
        window.cordova.plugin.ftp.connect(this.server, this.user, this.password, function(ok) {
          console.log(ok);
          resolve()
        }, function(error) {
          console.error("ftp: connect error=" + error);
          reject(error)
        });
      })
    },
    async listFtpFiles() {
      return new Promise((resolve, reject) => {
        window.cordova.plugin.ftp.ls('/', files => {
          resolve(files)
        }, error => {
          reject(error);
          console.log(error)
        })
      })
    },
    async listDir(path){
      this.files = await this.listDirPromisified(path)
    },
    async listDirPromisified(path) {
      return new Promise((resolve, reject) => {
        window.resolveLocalFileSystemURL(path, fileSystem => {

            let reader = fileSystem.createReader();

            reader.readEntries(
              entries => {
                console.log(entries);
                resolve(entries)
              },
              error => {
                console.log(error);
                reject(error)
              }
            );

          }, error => {
            console.log(error);
            reject(error)
          }
        );
      })
    },
  },
  async created() {
    try {
      await this.listDir('file:///data/user/0/wellcome.legrand.com/files/files/');
    } catch(error) {
      this.$q.notify('Error while listing local files')
    }
  }
}
</script>
