<template>

  <div class="">

    <template class="absolute">
      <div v-show="isLoading">
        <q-linear-progress indeterminate />
      </div>
    </template>

    <div class="row flex flex-center mdns-container">
      <q-btn-toggle
        v-model="watch_state"
        class="my-custom-toggle"
        no-caps
        rounded
        unelevated
        toggle-color="primary"
        color="white"
        text-color="primary"
        :options="[
          {label: 'Watch', value: 'watch'},
          {label: 'Not watch', value: 'not_watch'}
        ]"
        @click="watchToggle"
      />
    </div>

    <p class="row flex flex-center">
      MDNS Devices on network :
    </p>

    <q-scroll-area
      horizontal
      style="height: 100%; width: 100%;"
      class="bg-grey-1"
    >
      <div class="row flex flex-center" v-show="devices.length > 0">
        <q-markup-table>
          <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-right">Action</th>
            <th class="text-right">Type</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="device in devices">
            <td class="text-left">{{ device.name }}</td>
            <td class="text-left">{{ device.action }}</td>
            <td class="text-left">{{ device.type }}</td>
          </tr>
          </tbody>
        </q-markup-table>
      </div>
    </q-scroll-area>

  </div>

</template>

<style lang="sass" scoped>
  .my-custom-toggle
    border: 1px solid #027be3
  .mdns-container
    padding-top: 20px
</style>

<script>

  export default {
    name: 'MdnsPage',

    data () {
      return {
        devices: [],
        isLoading: false,
        watch_state: 'not_watch',
        progress: false,
      }
    },

    methods: {

      watchToggle() {

        let devices = [];
        this.devices = devices;

        if (this.watch_state === 'watch') {

          this.$q.notify('Start watching...');

          this.isLoading = true;
          let that = this;

          let serviceType = "_http._tcp.";

          window.cordova.plugins.zeroconf.watch(serviceType, 'local.', function(result) {

            let action = result.action;
            let service = result.service;
            result.service.action = action;
            result.service.type = serviceType;
            // console.log(that.devices);

            devices.push(result.service);

            that.devices = devices;

          }, function(error) {
            console.log(error);
          });

        } else {
          this.isLoading = false;
          window.cordova.plugins.zeroconf.unwatch('_http._tcp.', 'local.');
          this.$q.notify('Stop watching');
        }
      }
    }
  }
</script>
