<template>

  <div class="q-pa-md">

    <div class="row flex flex-center">
      <q-btn color="primary" icon="ion-search" @click="scan"/>
    </div>

    <p class="row flex flex-center">
      Devices on network :
    </p>

    <!-- Loader to display only during the scan process -->
    <div class="row flex flex-center" v-show="isLoading">
      <q-circular-progress
        indeterminate
        size="50px"
      />
    </div>

    <q-scroll-area
      horizontal
      style="height: 100%; width: 100%;"
      class="bg-grey-1"
    >
    <div class="row flex flex-center" v-show="devices.length > 0">
      <q-markup-table>
        <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-right">Manufacturer</th>
          <th class="text-right">Location</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="device in devices">
          <td class="text-left">{{ device.name }}</td>
          <td class="text-left">{{ device.manufacturer }}</td>
          <td class="text-left">{{ device.location }}</td>
        </tr>
        </tbody>
      </q-markup-table>
    </div>
    </q-scroll-area>

  </div>

</template>

<script>

  export default {
    name: 'UpnpPage',

    data () {
      return {
        devices: [],
        isLoading: false
      }
    },

    methods: {
      scan() {

        this.isLoading = true;
        const that = this;

        // Use upnp:rootedevice but could me something else - looks like it's the best solution for now
        // (using upnp:all for example returns a lot more results...)
        let serviceType = "upnp:rootdevice";

        let success = function(devices) {
          console.log(devices);

          const cleanDevices = [];

          const parser = new DOMParser();

          devices.forEach(device => {
            const xmlDevice = parser.parseFromString(device.xml,"text/xml");
            const deviceName = xmlDevice.getElementsByTagName("friendlyName")[0].childNodes[0].nodeValue;
            const deviceManufacturer = xmlDevice.getElementsByTagName("manufacturer")[0].childNodes[0].nodeValue;
            cleanDevices.push({
              name: deviceName,
              manufacturer: deviceManufacturer,
              location: device.LOCATION
            })
          });

          that.devices = cleanDevices;
          that.isLoading = false;
        };

        let failure = function() {
          console.log("Error calling Service Discovery Plugin");
          that.isLoading = false;
        };

        /**
         * Similar to the W3C specification for Network Service Discovery api 'http://www.w3.org/TR/discovery-api/'
         * @method getNetworkServices
         * @param {String} serviceType e.g. "urn:schemas-upnp-org:service:ContentDirectory:1", "ssdp:all", "urn:schemas-upnp-org:service:AVTransport:1"
         * @param {Function} success callback an array of services
         * @param {Function} failure callback
         */
        window.serviceDiscovery.getNetworkServices(serviceType, success, failure);
      }
    }
  }
</script>
