<template>

  <div class="q-pa-md">

    <!-- Button to trigger the actual scan process -->
    <div class="row flex flex-center">
      <q-btn color="primary" label="Scan" @click="scan" />
    </div>

    <div class="row flex flex-center">
      Wifi networks :
    </div>

    <!-- Loader to display only during the scan process -->
    <div class="row flex flex-center" v-show="isLoading">
      <q-circular-progress
        indeterminate
        size="50px"
      />
    </div>

    <div class="row flex flex-center" v-show="networks.length > 0">
      <q-list dense bordered padding class="rounded-borders">
        <q-item clickable v-ripple v-for="network in networks">

          <!-- Display an icon for the network wanted -> only for dev purposes -->
          <q-item-section avatar v-show="network.BSSID === '34:15:13:fa:70:59'">
            <q-icon color="primary" name="wifi" />
          </q-item-section>

          <!-- Displaying network SSID in the list -->
          <q-item-section @click="confirm(network)">{{ network.SSID }}</q-item-section>
        </q-item>
      </q-list>
    </div>

  </div>

</template>

<script>

  export default {
    name: 'PageWifi',

    data () {
      return {
        batteryStatus: 'determining...',
        networks: [],
        isLoading: false
      }
    },

    methods: {
      confirm (network) {
        this.$q.dialog({
          title: 'Connect',
          message: `Would you like to connect to the ${network.SSID} on the wifi?`,
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.$q.notify('Connecting...')
          this.connect(network)
        }).onCancel(() => {
          this.$q.notify('NOT Connecting')
        })
      },
      async scan () {

        try {

          if (this.$q.platform.is.mobile) {
            this.isLoading = true
            this.networks = []
            await WifiWizard2.requestPermission()
            let results = await WifiWizard2.scan();
            this.isLoading = false
            this.networks = results;
          } else {
            this.$q.notify('Need to be on mobile device for now...')
          }

        } catch(error) {
          this.networks = results;
        }

      },
      async connect(network) {

        try {
          await WifiWizard2.connect(network.SSID)
          this.$q.notify('Connected to ' + network.SSID)

        } catch(error) {
          this.$q.notify('Error connecting to ' + network.SSID)
          this.$q.notify(error)
        }

      },
    },
    created () {
      // we register the event like on plugin's doc page
      window.addEventListener('batterystatus', this.updateBatteryStatus, false)
    },
    beforeDestroy () {
      // we do some cleanup;
      // we need to remove the event listener
      window.removeEventListener('batterystatus', this.updateBatteryStatus, false)
    }
  }
</script>
