<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title @click="goToHome">
          Quasar App
        </q-toolbar-title>

        <div>v{{ version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item clickable @click="goToWifi">
          <q-item-section avatar>
            <q-icon name="wifi" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Wifi</q-item-label>
            <q-item-label caption>List and connect to Wifi networks</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable @click="goToFiles">
          <q-item-section avatar>
            <q-icon name="folder" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Files</q-item-label>
            <q-item-label caption>Read & write files</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable @click="goToFtp">
          <q-item-section avatar>
            <q-icon name="sync_alt" />
          </q-item-section>
          <q-item-section>
            <q-item-label>FTP</q-item-label>
            <q-item-label caption>Get and send files via ftp</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable @click="goToUpnp">
          <q-item-section avatar>
            <q-icon name="ion-search" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Upnp</q-item-label>
            <q-item-label caption>Discover devices over the network using UPnP</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable @click="goToMdns">
          <q-item-section avatar>
            <q-icon name="ion-search" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Mdns</q-item-label>
            <q-item-label caption>Discover devices over the network using mdns</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
  export default {
    name: 'MyLayout',

    data () {
      return {
        leftDrawerOpen: false,
        version: ''
      }
    },
    methods: {
      goToHome() {
        this.$router.push('/');
        console.log(process.env);
      },
      goToFiles() {
        this.$router.push('/files')
      },
      goToWifi() {
        this.$router.push('/wifi')
      },
      goToFtp() {
        this.$router.push('/ftp')
      },
      goToUpnp() {
        this.$router.push('/upnp')
      },
      goToMdns() {
        this.$router.push('/mdns')
      }
    }
  }
</script>
